body{
    font-family: raleway;
    font-size: 15px; 
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}


/* MAIN */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;

}

.button_1{
    height: 38px;
    background: orange;
    border:none;
    padding:0 20px 0 20px;
    color: white; 
}

.dark{
    padding: 15px;
    background-color: brown;
    color: white;
    margin-bottom: 10px
}

/* HEADER */
header{
    background: crimson ;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: blanchedalmond 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}


header li{
   float: left; 
   display: inline;
   padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header .current {
    color: orange;
    font-weight: bold;
}

header a:hover{
    color: greenyellow;
    font-weight: bold;
}


/* BODY */

#newsletter{
    padding: 15px;
    color: white;
    background: crimson;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float:right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px; 
    height: 23px;
    width: 250px;
}

/* BOX */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 100px;
}



/* SIDEBAR */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}


article#main-col{
    float: left;
    width: 65%;

}



footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: crimson;
    text-align: center;
}


/* MEDIA QUERIES */
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%
    }

    header{
        padding-bottom: 20px;
    }

    #newsletter button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"]{
        width: 100%;
        margin-bottom: 5px;
    }
}